.news {
  height: 855px;
  z-index: 0;
  overflow-x: hidden;
  
  @media (max-width: 1023px) {
    height: auto;
    padding-bottom: 150px;
  }
}

.vinyl-record {
  width: 1180px;
  height: 590px;
  border-radius: 0 0 590px 590px;
  position: absolute;
  top: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #D5D4D4 -22.29%, #FFFFFF 36.46%);
  
  @media (max-width: 1023px) {
    display: none;
  }
}



.news__article-list {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  position: relative;
  
  @media (max-width: 1023px) {
    margin-top: 120px;
  }
}

.news__article {
  display: flex;
  flex-flow: column;
  width: 48%;

  a, p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #050505;
  }
}

.news__article-img-wrapper {
  width: 100%;
  &:hover{
    opacity: 0.8;
  }
}

.news__article-date {
  margin-top: 20px;
  font-size: 16px;
  color: #050505;

  opacity: 0.5;
}

.news__article-title {
  margin-top: 10px;
  font-size: 18px;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

@keyframes rotate-vinyl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}