.news {
  height: 855px;
  z-index: 0;
  overflow-x: hidden;
}

.vinyl-record { // ToDo Сделать полукруг через border: 0 0 50% 50%
  width: 1180px;
  height: 1180px;
  border-radius: 50%;
  position: absolute;
  top: -590px;
  overflow: hidden;

  &::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, #D5D4D4 -22.29%, #FFFFFF 36.46%);
  }
}



.news__article-list {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  position: relative;
}

.news__article {
  display: flex;
  flex-flow: column;
  width: 48%;

  a, p {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #050505;
  }
}

.news__article-img-wrapper {
  width: 100%;
  &:hover{
    opacity: 0.8;
  }
}

.news__article-date {
  margin-top: 20px;
  font-size: 16px;
  color: #050505;

  opacity: 0.5;
}

.news__article-title {
  margin-top: 10px;
  font-size: 18px;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.vector__bg_7{
  width: 646px;
  height: 646px;
  bottom: -280px;
  left: -150px;
  z-index: -1;
}

.vector__bg_8{
  width: 526px;
  height: 728px;
  top: 0;
  right: -160px;
}

@keyframes rotate-vinyl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}