//<!-- ReleasePage Slider --!>
.release-slider {
  position: relative;

  .slick-track{
    display: flex;
  }

  .slick-dots{
    list-style: none;
    display: flex!important;
    position: absolute;
    width: 220px;
    justify-content: space-between;
    left: calc((100% - 220px) / 2 - 19%); //ToDo Сделать адаптивную ширину
    bottom: 22px;
    z-index: 5;
  }
  .slick-active{
    .release-slider__pagination-item{
      &::before {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        background: #ffffff;
        border-radius: 50%;
        bottom: -5px;
        left: 50%;
      }

      opacity: 1;
    }
  }
}

.release-slider__main-slide-bg-img {
  position: absolute;
  width: 923px;
  height: 484px;
  top: -42%;
  left: calc((100% - 923px) / 2);

  @media (max-width: 1023px) {
    display: none;
  }
}

.release-slider__button {
  position: absolute;
  top: calc((100% - 60px) / 2);
  left: calc((100% - 60px) / 2 - 640px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff center no-repeat;
  z-index: 5;

  &::before {
    position: relative;
    right: 2px;
    content: '';
    width: 30px;
    height: 40px;
    background: #0000FF;
    -webkit-mask: url(images/arrow.svg) center no-repeat;
    -webkit-mask-size: contain;
  }

  &:hover {
    &::before {
      background: #D4AA00;
    }
  }

  @media (max-width: 1365px) {
    top: calc((100% - 60px) / 2 + 270px);
    left: calc((100% - 60px) / 2 - 440px);
  }
}

.release-slider__button_next {
  left: unset;
  right: calc((100% - 60px) / 2 - 640px);
  transform: scale(-1, 1);
  @media (max-width: 1365px) {
    right: calc((100% - 60px) / 2 - 440px);
  }
}

.release-slider__pagination-item {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  opacity: 0.4;
  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.vinyl-record__center {
  display: block;
  width: 226px;
  height: 226px;
  border-radius: 50%;
  animation: 15s rotate-vinyl linear infinite;
  position: absolute;
  bottom: -113px;
  left: calc((100% - 226px) / 2);
  z-index: 2;

  text {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.release-slider__slide {
  width: 100vw;
  padding-top: 112px;
  height: 685px;
  background: url('#') center no-repeat;
  background-size: cover;

  @media (max-width: 1023px) {
    width: 768px;
  }
}

.release-slider__slide_main{
  .release-slider__slide-content{
    position: relative;
    height: 100%;
  }
}

.release-slider__slide-content {
  max-width: 1220px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;

  @media (max-width: 1023px) {
    max-width: 768px;
  }
}

.release-slider__slide-half-circle {
  position: absolute;
  left: calc((100% - 1180px) / 2);
  bottom: 0;
  width: 1180px;
  height: 590px;
  background: #0000FF;
  border-radius: 600px 600px 0 0;
  overflow: hidden;
  z-index: 1;

  .release-slider__slide-title{
    margin-top: 17px;
    margin-left: -5px;
  }
}

.release-slider__slide-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 160px;
  line-height: 140px;
  letter-spacing: -0.01em;
}

.release-slider__slide-title_main {
  color: #0C0B0B;
}

.release-slider__slide-subtitle {
  margin-top: 15px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0px;

  margin-left: 127px;
}

.release-slider__slide-button {
  margin-top: 32px;
  margin-left: 127px;
  width: 214px;
  height: 46px;
  background: #D4AA00;
  border-radius: 5px;

  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;

  &:hover {
    opacity: 0.8;
  }

}

.release-slider__slide-character {
  position: absolute;
  width: 424px;
  height: 590px;
  left: calc((100% - 424px) / 2 + 375px);
  bottom: 0;
  z-index: 2;
}

.release-slider__img-wrapper-notes{
  width: 72px;
  height: 45px;
  position: absolute;
  top: 10.1%;
  right: 43.5%;
}

.release-slider__img-wrapper-color-notes{
  width: 86px;
  height: 53px;
  position: absolute;
  top: -12%;
  left: -2%;
}


//<!-- /ReleasePage Slider --!>