.artist-card__wrapper {
  display: flex;
  max-width: 1205px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}
@media (max-width: 767px) {
  .artist-card__wrapper {
    max-width: 320px;
  }
}

.artist-card__title-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .artist-card__title-part {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
}

.artist-card__title-text-part {
  display: flex;
  flex-flow: column;
  margin-left: 55px;
  color: #FFFFFF;
  max-width: 400px;
  width: 100%;
}
@media (max-width: 767px) {
  .artist-card__title-text-part {
    margin-left: 0;
    color: #0C0B0B;
    font-size: 12px;
  }
}

.artist-card__img-bg-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5A5A5A;
}
@media (max-width: 767px) {
  .artist-card__img-bg-wrapper {
    clip-path: polygon(0 0, 100% 0%, 100% 37%, 0 37%);
  }
}

.artist-card__img-bg {
  background: url("#") center no-repeat;
  background-size: cover;
  filter: blur(15px) brightness(40%);
  width: 105%;
  height: 105%;
}
@media (max-width: 767px) {
  .artist-card__img-bg {
    filter: blur(20px) brightness(40%);
  }
}

.artist-card__title-img {
  max-width: 476px;
  width: 100%;
  max-height: 476px;
  height: 100%;
  margin: 35px 0 -35px;
}
@media (max-width: 767px) {
  .artist-card__title-img {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0;
  }
}

.artist-card__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  position: relative;
}
@media (max-width: 767px) {
  .artist-card__title {
    font-size: 30px;
    color: #FFFFFF;
    margin: 57px 20px 0 0;
    align-self: flex-end;
  }
}

.artist-card__bg-svg {
  position: absolute;
  right: -2%;
  bottom: -16%;
  width: 218px;
  height: 310px;
  z-index: 5;
}
@media (max-width: 1023px) {
  .artist-card__bg-svg {
    display: none;
  }
}

.artist-card__title-name {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 13px;
  font-weight: 100;
  opacity: 0.9;
}
@media (max-width: 767px) {
  .artist-card__title-name {
    font-size: 12px;
    margin-top: 75px;
  }
}

.artist-card__title-link {
  margin-top: 20px;
  color: #FFFFFF;
  text-decoration: none;
  transition: ease-in-out all 0.3s;
}
.artist-card__title-link:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .artist-card__title-link {
    color: #0000FF;
    margin-top: 10px;
  }
}

.artist-card__title-btn {
  margin-top: 50px;
  max-width: 264px;
}
@media (max-width: 767px) {
  .artist-card__title-btn {
    max-width: 280px;
    margin: 40px 0 0 0;
    font-size: 12px;
    height: 40px;
  }
}

.block-artist-card__releases {
  margin-top: 130px;
}
@media (max-width: 767px) {
  .block-artist-card__releases {
    margin-top: 50px;
  }
}

.block-artist-card__my-releases {
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
}
@media (max-width: 767px) {
  .block-artist-card__my-releases {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .tl_btn_my-releases {
    font-size: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tl_btn_my-releases::after {
    content: "+";
    color: #ffffff;
    font-size: 25px;
  }
}

.title_artists-card {
  color: #3D3D3D;
}
@media (max-width: 767px) {
  .title_artists-card {
    font-size: 41px;
    align-self: flex-start;
  }
}

@media (max-width: 1023px) {
  .block-artist-card__releases-list {
    display: flex;
    width: 100%;
    overflow: scroll;
  }
}
@media (max-width: 767px) {
  .block-artist-card__releases-list {
    display: flex;
    flex-flow: column;
  }
}

@media (max-width: 1023px) {
  .catalog-row_artist-card {
    max-width: unset;
    flex-flow: row;
  }
}
@media (max-width: 767px) {
  .catalog-row_artist-card {
    flex-flow: column;
  }
}

.catalog-row__item_artist-card {
  min-width: 253px;
}

/*# sourceMappingURL=style.css.map */
