*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #272a2d;
}

.block {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 auto;
  position: relative;

}

.content {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  color: #3D3D3D;
  font-family: "Gilroy Regular";
  position: relative;
  z-index: 5;

}
.content_slider {
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  color: #3D3D3D;
  font-family: "Gilroy Regular";
  overflow-x: scroll;
  margin: 0 auto;
  position: relative;
  z-index: 5;


}

//<!-- block-catalog --!>
.block-catalog {

}
.vector__bg {
  position: absolute;
  z-index: 3;
  img {
    width: 100%;
  }
}
.vector__bg_1 {
  width: 416px;
  height: 439px;
  top: 54%;
  left: calc((100% - 416px) / 2 - 780px);

}
.catalog-title__part {
  margin-top: 154px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}

.catalog-title {
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight: 900;


}

.catalog-title__numbers {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(52,52,255);
  background: linear-gradient(90deg, rgba(52,52,255,1) 0%, rgba(255,101,52,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  display: flex;
  flex-flow: column;
  span {
    font-size: 18px;
    font-weight: 900;
    font-family: "Gilroy Regular Heavy";
    margin-top: 4px;

  }
}
.catalog-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1480px;
  &:nth-child(1) {
    margin-top: 60px;
  }
  &:nth-child(2) {
    margin-top: 70px;
  }
}
.catalog-row__item {
  display: flex;
  flex-flow: column;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }


}
.catalog-row__item-img {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  }
}
.catalog-row__item-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;

}
.catalog-row__item-subtext {
  margin-top: 5px;
}
.catalog-videos {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.catalog-videos__item {
  max-width: 380px;
  width: 32%;
  margin-right: 3px;
  &:last-child {
    margin-right: 0;
  }
}
.catalog-videos__img {
  max-width: 380px;
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
}
.catalog-videos__name {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}
.catalog-videos__youtube {
  width: 34px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;


  img {
    width: 100%;
  }
}

//<!-- /block-catalog --!>


@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}