@import "fonts";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  background: transparent;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #272a2d;
}

//<!-- header --!>

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  padding-top: 25px;
}

.main-menu {
  max-width: 1120px;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.main-menu__logo {
  display: block;
  width: 158px;
  height: 47px;
}

.main-menu__list {
  display: flex;
  width: 33%;
  justify-content: space-between;
}

.main-menu__list-item {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: #0C0B0B;
  text-decoration: none;
}

.main-menu__personal-area {

}

.main-menu__personal-area-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 163px;
    height: 163px;
    background: url(imageScss/avatar-area.svg) center no-repeat;
    background-size: contain;
    opacity: 0.5;
  }
}

//<!-- /header --!>


.block {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 auto;
  position: relative;
}

.content {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  color: #3D3D3D;
  font-family: "Gilroy Regular", sans-serif;
  position: relative;
  z-index: 5;
}

.content_slider {
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  color: #3D3D3D;
  font-family: "Gilroy Regular", sans-serif;
  overflow-x: scroll;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tl_btn {
  padding: 0 10px;
  font-family: "Gilroy Regular", sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #D4AA00;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  letter-spacing: 0.05em;
  margin-right: 5px;
  max-width: 214px;
  width: 100%;
  height: 46px;

  &:hover {
    opacity: 0.7;
  }

}

//<!-- block-suggestion --!>
.block-suggestion {
  background: #F4F4F4;
  padding: 86px 0 30px;

}

.suggestion-row {
  display: flex;
  width: 100%;

}

.suggestion-column__text-part {
  display: flex;
  flex-flow: column;
  max-width: 332px;
  width: 100%;
  margin-right: 35px;


}

.suggestion-column__title {
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight: 700;

}

.suggestion-column__text {
  margin-top: 45px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Gilroy-Semibold"


}

.suggestion-column__btn {
  margin-top: 50px;

}

.suggestion-column__slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;
}

.suggestion-slider__item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-right: 20px;
  padding: 15px 30px 30px 30px;
  border-radius: 5px;
  max-width: 380px;
  width: 100%;
  color: #FFFFFF;

  &:last-child {
    margin-right: 0;

  }
}

.suggestion-slider__item_1 {
  padding: 50px 30px 30px 30px;
  background: linear-gradient(90deg, #3479FF 0%, #343CFF 100%);

}

.suggestion-slider__item_2 {
  padding: 0 30px 30px 30px;
  background: linear-gradient(77.81deg, #DA1AA4 -19.28%, #FF6534 100%);


}

.suggestion-slider__item_3 {
  padding: 0 30px 30px 30px;
  background: linear-gradient(90deg, #3479FF 0%, #343CFF 100%);

  img {
    clip-path: polygon(0 0, 78% 0, 78% 100%, 0% 100%);
    margin-left: 100px;
  }

}

.suggestion-slider__item_4 {
  background: linear-gradient(77.81deg, #EE38BB -19.28%, #F7BA44 100%);

}

.suggestion-slider__item_5 {
  background: linear-gradient(77.81deg, #DA1AA4 -19.28%, #FF6534 100%);

}

.suggestion-slider__text-part {
  width: 100%;

}

.suggestion-slider__title {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 700;
}

.suggestion-slider__text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 100;
  margin-top: 15px;

}

.suggestion-slider__img {
  display: flex;
  justify-content: center;
  align-items: center;

}

.suggestion-slider__btn-wrapper {
  position: relative;
  display: flex;
  width: 46px;
  height: 46px;

}

.suggestion-slider__btn {
  font-size: 0;
  border: 3px solid #D4AA00;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  background: transparent;
  border-radius: 50%;

}

.suggestion-slider__arrow {
  width: 10px;
  height: 17px;
  position: absolute;

  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 10;

}

.suggestion-slider__arrow_rotate {
  transform: translate(50%, -50%) rotate(180deg);
}

//<!-- /block-suggestion --!>

//<!-- block-catalog --!>
.block-catalog {
  padding: 0 0 150px 0;

}

.vector__bg {
  position: absolute;
  z-index: 3;

  img {
    width: 100%;
  }
}

.vector__bg_1 {
  width: 416px;
  height: 439px;
  top: 54%;
  left: calc((100% - 416px) / 2 - 780px);

}

.catalog-title__part {
  margin-top: 154px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}

.catalog-title {
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight: 900;


}

.catalog-title__numbers {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(52, 52, 255);
  background: linear-gradient(90deg, rgba(52, 52, 255, 1) 0%, rgba(255, 101, 52, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  display: flex;
  flex-flow: column;

  span {
    font-size: 18px;
    font-weight: 900;
    font-family: "Gilroy Regular Heavy";
    margin-top: 4px;

  }
}

.catalog-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1480px;

  &:nth-child(1) {
    margin-top: 60px;
  }

  &:nth-child(2) {
    margin-top: 70px;
  }
}

.catalog-row__item {
  display: flex;
  flex-flow: column;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }


}

.catalog-row__item-img {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}

.catalog-row__item-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;

}

.catalog-row__item-subtext {
  margin-top: 5px;
}

.catalog-videos {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.catalog-videos__item {
  max-width: 380px;
  width: 32%;
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
  }
}

.catalog-videos__img {
  max-width: 380px;
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }
}

.catalog-videos__name {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}

.catalog-videos__youtube {
  width: 34px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;


  img {
    width: 100%;
  }
}

//<!-- /block-catalog --!>

//<!-- block-form --!>
.block-form {
  background: #E7E8E9;
}

.block-form__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin-top: -30px;

}

.block-form__left-column {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(51.25deg, #3434FF 8.02%, #FF6534 102.33%);

  padding: 30px 23px 30px 49px;
  margin-right: 5px;
  color: #ffffff;
  max-width: 500px;
  width: 100%;
}

.block-form__left-title {
  font-size: 30px;
  line-height: 1.4;
  text-align: left;
  font-weight: 700;

}

.block-form__left-test {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.5;

}

.block-form__left-img {
  max-width: 176px;
  max-height: 150px;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }

}

.block-form__column {
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  padding: 50px;
  width: 100%;

}

.block-form__form {
  width: 100%;
  height: 100%;
}

.block-form__title {
  font-family: "Bebas Neue";
  font-size: 35px;
}

.block-form__input-row {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  flex-flow: column;
  position: relative;
  width: 100%;

}

.block-form__input {
  outline: none;
  font-family: "Gilroy Regular", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #808080;
}

.block-form__input-arrow {
  width: 12px;
  height: 6px;
  position: absolute;
  right: 0;
  top: 4px;

  img {
    width: 100%;
  }
}

.block-form__input-group {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  .block-form__input-row {
    width: 48%;

    &:nth-child(1) {
      margin-right: 5px;
    }
  }
}

.block-form__input_text {
  min-height: 60px;
}

.block-form__input_file {
  margin-top: 15px;
  border: 1px dashed #808080;

}

.block-form__input_check {

  border: 1px solid #808080;
  width: 48%;
  margin-right: 5px;
  padding: 15px 10px;


}

.block-form__input-row-check {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.block-form__input-check-img {
  max-width: 241px;
  max-height: 46px;
  width: 100%;
  height: 100%;
  margin-right: 5px;

  img {
    width: 100%;
  }

}

.block-form__refresh {
  width: 24px;
  height: 24px;
  -webkit-mask: url("imageScss/block-form_refresh.svg") center no-repeat;
  -webkit-mask-size: contain;
  background: #D4AA00;
  cursor: pointer;
  transition: ease-in-out all 0.3s;

  &:hover {
    background: #808080;
  }


}

.block-form__btn-row {
  margin-top: 50px;
  padding: 0 60px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.block-form__btn {
  max-width: 214px;
  width: 100%;
  height: 46px;


}

.block-form__politic {
  font-size: 14px;
  color: #5A5A5A;
  max-width: 270px;
  width: 100%;
  line-height: 1.5;

}

.block-form__sponsors {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.block-form__sponsors-img {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}


//<!-- /block-form --!>

//<!-- footer --!>
.block-footer {
  background: #505050;
  padding: 45px 0;

}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-column__text {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.5;
  line-height: 1.5;

  a {
    color: #FFFFFF;

  }

}

.footer-column__links {
  max-width: 180px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}

.footer-column__link-item {
  background: #8C8C8C;
  -webkit-mask-size: contain;
  margin-right: 2px;
  transition: ease-in-out all 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: #FFFFFF;
  }

}

.footer-column__link-item_1 {
  width: 18px;
  height: 18px;
  -webkit-mask: url("imageScss/footer-link-1.svg") no-repeat center;


}

.footer-column__link-item_2 {
  -webkit-mask: url("imageScss/footer-link-2.svg") no-repeat center;
  width: 9px;
  height: 18px;

}

.footer-column__link-item_3 {
  -webkit-mask: url("imageScss/footer-link-3.svg") no-repeat center;
  width: 20px;
  height: 11px;

}

.footer-column__link-item_4 {
  -webkit-mask: url("imageScss/footer-link-4.svg") no-repeat center;
  width: 21px;
  height: 15px;

}

.footer-column__link-item_5 {
  -webkit-mask: url("imageScss/footer-link-5.svg") no-repeat center;
  width: 16px;
  height: 18px;

}

.footer-column__link-item_6 {
  -webkit-mask: url("imageScss/footer-link-6.svg") no-repeat center;
  width: 11px;
  height: 18px;

}


//<!-- /footer --!>


@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}