@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/Bebas Neue/BebasNeueBook.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/Bebas Neue/BebasNeueBold.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy/Gilroy-RegularItalic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy/Gilroy-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy/Gilroy-LightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/Gilroy/Gilroy-BoldItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../fonts/Gilroy/Gilroy-Semibold.ttf");
}
@font-face {
  font-family: "Gilroy Regular Heavy";
  src: url("../fonts/Gilroy/Gilroy-Heavy.ttf");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  transition: 0.1s all ease-in-out;
}

html, body {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  background: transparent;
}

.wrapper {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

.block {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 0 auto;
  position: relative;
}

.content {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  color: #3D3D3D;
  font-family: "Gilroy Regular", sans-serif;
  position: relative;
  z-index: 5;
}
@media (max-width: 767px) {
  .content {
    max-width: 320px;
    margin: 0;
  }
}

.content_slider {
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  color: #3D3D3D;
  font-family: "Gilroy Regular", sans-serif;
  overflow-x: scroll;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.content_slider::-webkit-scrollbar {
  display: none;
}

.tl_btn {
  padding: 0 10px;
  font-family: "Gilroy Regular", sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #D4AA00;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
  letter-spacing: 0.05em;
  margin-right: 5px;
  max-width: 214px;
  width: 100%;
  height: 46px;
}
.tl_btn:hover {
  opacity: 0.7;
}

.block-suggestion {
  background: #F4F4F4;
  padding: 86px 0 100px;
}
@media (max-width: 1023px) {
  .block-suggestion {
    padding: 60px 0;
  }
}

.suggestion-row {
  display: flex;
  width: 100%;
  position: relative;
}
@media (max-width: 1023px) {
  .suggestion-row {
    flex-flow: column;
  }
}

.suggestion-column__text-part {
  display: flex;
  flex-flow: column;
  width: 332px;
  margin-right: 35px;
}

.suggestion-column__title {
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .suggestion-column__title {
    font-size: 40px;
  }
}

.suggestion-column__text {
  margin-top: 45px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Gilroy-Semibold", sans-serif;
}
@media (max-width: 1023px) {
  .suggestion-column__text {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .suggestion-column__text {
    display: none;
  }
}

.suggestion-column__btn {
  margin-top: 50px;
}
@media (max-width: 1023px) {
  .suggestion-column__btn {
    margin-top: 495px;
  }
}
@media (max-width: 767px) {
  .suggestion-column__btn {
    margin-top: 0;
    position: absolute;
    bottom: 0;
  }
}

.suggestion-column__slider {
  display: flex;
  width: 55%;
}
.suggestion-column__slider .slick-track {
  display: flex;
}
@media (max-width: 1023px) {
  .suggestion-column__slider {
    position: absolute;
    top: 220px;
    left: 0;
  }
}
@media (max-width: 767px) {
  .suggestion-column__slider {
    flex-flow: column;
    position: relative;
    top: 0;
    margin-top: 15px;
  }
}

.suggestion-column__slider-button {
  position: absolute;
  left: calc((100% - 46px) / 2 + 50px);
  bottom: -75px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 3px solid #D4AA00;
  border-radius: 50%;
  font-size: 0;
}
.suggestion-column__slider-button svg {
  position: relative;
  left: -1px;
}
.suggestion-column__slider-button:hover {
  transform: scale(1.1);
}
@media (max-width: 1023px) {
  .suggestion-column__slider-button {
    left: calc((100% - 46px) / 2 + 500px);
  }
}

.suggestion-column__slider-button_next {
  left: calc((100% - 46px) / 2 + 120px);
  transform: rotate(180deg);
}
.suggestion-column__slider-button_next:hover {
  transform: rotate(180deg) scale(1.1);
}
@media (max-width: 1023px) {
  .suggestion-column__slider-button_next {
    left: calc((100% - 46px) / 2 + 570px);
  }
}

.suggestion-slider__item {
  display: flex !important;
  flex-flow: column;
  margin-right: 20px !important;
  padding: 30px;
  border-radius: 5px;
  max-width: 380px;
  width: 100%;
  height: 448px;
  color: #FFFFFF;
}
.suggestion-slider__item:last-child {
  margin-right: 0;
}
@media (max-width: 1023px) {
  .suggestion-slider__item {
    width: 344px;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__item {
    width: 280px;
    padding: 15px 20px 20px 20px;
    margin-right: 0;
    margin-top: 10px;
  }
}

.suggestion-slider__item_1 {
  padding: 50px 30px 30px 30px;
  background: linear-gradient(90deg, #3479FF 0%, #343CFF 100%);
}
@media (max-width: 1023px) {
  .suggestion-slider__item_1 {
    padding: 40px 30px 30px 30px;
  }
  .suggestion-slider__item_1 .suggestion-slider__img {
    width: 289px;
    height: 161px;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__item_1 .suggestion-slider__img {
    width: 238px;
    height: 132px;
  }
}

.suggestion-slider__item_2 {
  padding: 0 30px 30px 30px;
  background: linear-gradient(77.81deg, #DA1AA4 -19.28%, #FF6534 100%);
}
@media (max-width: 1023px) {
  .suggestion-slider__item_2 .suggestion-slider__img {
    width: 300px;
    height: 170px;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__item_2 .suggestion-slider__img {
    width: 250px;
    height: 140px;
  }
}

.suggestion-slider__item_3 {
  padding: 0 30px 30px 30px;
  background: linear-gradient(90deg, #3479FF 0%, #343CFF 100%);
}
.suggestion-slider__item_3 img {
  clip-path: polygon(0 0, 78% 0, 78% 100%, 0% 100%);
  width: 100%;
  margin-left: 50px;
}
@media (max-width: 1023px) {
  .suggestion-slider__item_3 .suggestion-slider__img {
    width: 300px;
    height: 170px;
  }
  .suggestion-slider__item_3 .suggestion-slider__img img {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__item_3 .suggestion-slider__img {
    width: 250px;
    height: 140px;
  }
}

.suggestion-slider__item_4 {
  background: linear-gradient(77.81deg, #EE38BB -19.28%, #F7BA44 100%);
}
@media (max-width: 1023px) {
  .suggestion-slider__item_4 .suggestion-slider__img {
    width: 277px;
    height: 177px;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__item_4 .suggestion-slider__img {
    width: 213px;
    height: 143px;
  }
}

.suggestion-slider__item_5 {
  background: linear-gradient(77.81deg, #DA1AA4 -19.28%, #FF6534 100%);
}
@media (max-width: 1023px) {
  .suggestion-slider__item_5 .suggestion-slider__img {
    width: 147px;
    height: 143px;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__item_5 .suggestion-slider__img {
    width: 120px;
    height: 143px;
  }
}

.suggestion-slider__text-part {
  width: 100%;
  margin-top: auto;
}

.suggestion-slider__title {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 700;
}
@media (max-width: 1023px) {
  .suggestion-slider__title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__title {
    font-size: 18px;
  }
}

.suggestion-slider__text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 100;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .suggestion-slider__text {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .suggestion-slider__text {
    font-size: 12px;
    opacity: 0.9;
  }
}

.suggestion-slider__img {
  position: absolute;
}

.block-catalog {
  padding: 0 0 150px 0;
}

.catalog-title__part {
  margin-top: 154px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .catalog-title__part {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.catalog-title {
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight: 900;
}
@media (max-width: 1023px) {
  .catalog-title {
    width: 100%;
  }
}

.catalog-title__numbers {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #3434ff;
  background: linear-gradient(90deg, #3434ff 0%, #ff6534 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  display: flex;
  flex-flow: column;
}
.catalog-title__numbers span {
  font-size: 18px;
  font-weight: 900;
  font-family: "Gilroy Regular Heavy";
  margin-top: 4px;
}
@media (max-width: 1023px) {
  .catalog-title__numbers {
    margin-top: 20px;
  }
  .catalog-title__numbers:last-child {
    margin-left: 55px;
  }
}

.catalog-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1480px;
}
.catalog-row:nth-child(1) {
  margin-top: 60px;
}
.catalog-row:nth-child(2) {
  margin-top: 70px;
}
@media (max-width: 1023px) {
  .catalog-row:nth-child(2), .catalog-row:nth-child(1) {
    margin-top: 50px;
  }
}

.catalog-row__item {
  display: flex;
  flex-flow: column;
  margin-right: 20px;
}
.catalog-row__item:last-child {
  margin-right: 0;
}

.catalog-row__item-img {
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: 100%;
}
.catalog-row__item-img img {
  width: 100%;
}
@media (max-width: 1023px) {
  .catalog-row__item-img {
    max-width: 253px;
    max-height: 253px;
  }
}

.catalog-row__item-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.catalog-row__item-subtext {
  margin-top: 5px;
}

.catalog-videos {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.catalog-videos__item {
  max-width: 380px;
  width: 32%;
  margin-right: 3px;
  cursor: pointer;
}
.catalog-videos__item:hover {
  opacity: 0.8;
}
.catalog-videos__item:last-child {
  margin-right: 0;
}

.catalog-videos__img {
  max-width: 380px;
  width: 100%;
  position: relative;
}
.catalog-videos__img img {
  width: 100%;
}

.catalog-videos__name {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}

.catalog-videos__youtube {
  width: 34px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
}
.catalog-videos__youtube img {
  width: 100%;
}

.block-form {
  background: #E7E8E9;
  z-index: 5;
}

.block-form__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin-top: -30px;
}
@media (max-width: 1023px) {
  .block-form__row {
    flex-flow: column;
  }
}

.block-form__left-column {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(51.25deg, #3434FF 8.02%, #FF6534 102.33%);
  padding: 30px 23px 30px 49px;
  margin-right: 5px;
  color: #ffffff;
  max-width: 500px;
  width: 100%;
}
@media (max-width: 1023px) {
  .block-form__left-column {
    max-width: unset;
  }
}

.block-form__left-title {
  font-size: 30px;
  line-height: 1.4;
  text-align: left;
  font-weight: 700;
}
@media (max-width: 1023px) {
  .block-form__left-title {
    font-size: 26px;
  }
}

.block-form__left-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
  width: 60%;
}

.block-form__left-img {
  max-width: 176px;
  max-height: 150px;
  width: 100%;
  height: 100%;
}
.block-form__left-img img {
  width: 100%;
}

.block-form__column {
  background: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  padding: 50px;
  width: 100%;
  color: #252525;
}

.block-form__form {
  width: 100%;
  height: 100%;
}

.block-form__title {
  font-family: "Bebas Neue";
  font-size: 35px;
}

.block-form__input-row {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #F5F5F5;
}

.block-form__input-row_textarea {
  flex-flow: column;
}
.block-form__input-row_textarea textarea {
  margin-top: 10px;
  resize: none;
}

.block-form__input-row_file {
  flex-flow: column;
  padding-bottom: 0;
  border-bottom: 0;
}

.block-form__input-row_captcha {
  flex-flow: wrap;
  padding-bottom: 0;
  border-bottom: 0;
}

.block-form__label {
  color: #252525;
  opacity: 0.7;
  margin-right: 10px;
}

.block-form__label_file {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 15px;
  border: 1px dashed #F5F5F5;
  opacity: 1;
  cursor: pointer;
}
.block-form__label_file:hover {
  opacity: 0.8;
}
.block-form__label_file input {
  position: absolute;
  visibility: hidden;
}

.block-form__input {
  outline: none;
  font-family: "Gilroy Regular", sans-serif;
  font-size: 14px;
}

.block-form__input-arrow {
  width: 12px;
  height: 6px;
  position: absolute;
  right: 0;
  top: 4px;
}
.block-form__input-arrow img {
  width: 100%;
}

.block-form__input-group {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.block-form__input-group .block-form__input-row {
  width: 48%;
}
.block-form__input-group .block-form__input-row:nth-child(1) {
  margin-right: 5px;
}

.block-form__input_text {
  min-height: 60px;
}

.block-form__input_check {
  border: 1px solid #F5F5F5;
  width: 48%;
  margin-right: 5px;
  padding: 15px 10px;
}

.block-form__input-row-check {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.block-form__input-check-img {
  max-width: 241px;
  max-height: 46px;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
.block-form__input-check-img img {
  width: 100%;
}

.block-form__refresh {
  width: 24px;
  height: 24px;
  -webkit-mask: url("imageScss/block-form_refresh.svg") center no-repeat;
  -webkit-mask-size: contain;
  background: #D4AA00;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
}
.block-form__refresh:hover {
  background: #808080;
}

.block-form__btn-row {
  margin-top: 50px;
  padding: 0 60px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.block-form__btn {
  max-width: 214px;
  width: 100%;
  height: 46px;
}

.block-form__politic {
  font-size: 14px;
  color: #5A5A5A;
  max-width: 270px;
  width: 100%;
  line-height: 1.5;
}

.block-form__sponsors {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-form__sponsors-img-wrapper {
  margin-right: 5px;
}
.block-form__sponsors-img-wrapper:last-child {
  margin-right: 0;
}

.block-form__sponsors-img {
  height: 56px;
  -webkit-mask-size: contain;
  background: #666666;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
}
.block-form__sponsors-img:hover {
  background: #FFFFFF;
}

.block-form__sponsors-img_1 {
  -webkit-mask: url("imageScss/block-form_sponsors-1.png") no-repeat center;
  width: 108px;
}

.block-form__sponsors-img_2 {
  -webkit-mask: url("imageScss/block-form_sponsors-2.png") no-repeat center;
  width: 163px;
}

.block-form__sponsors-img_3 {
  -webkit-mask: url("imageScss/block-form_sponsors-3.png") no-repeat center;
  width: 180px;
}

.block-form__sponsors-img_4 {
  -webkit-mask: url("imageScss/block-form_sponsors-4.png") no-repeat center;
  width: 68px;
}

.block-form__sponsors-img_5 {
  -webkit-mask: url("imageScss/block-form_sponsors-5.png") no-repeat center;
  width: 130px;
}

.block-form__sponsors-img_6 {
  -webkit-mask: url("imageScss/block-form_sponsors-6.png") no-repeat center;
  width: 251px;
}

.block-footer {
  background: #505050;
  padding: 45px 0;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-column__text p, .footer-column__text a {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.5;
  line-height: 1.5;
}
.footer-column__text a:hover {
  opacity: 1;
}

.footer-column__links {
  max-width: 180px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-column__link-item {
  background: #8C8C8C;
  -webkit-mask-size: contain;
  margin-right: 2px;
  transition: ease-in-out all 0.3s;
}
.footer-column__link-item:last-child {
  margin-right: 0;
}
.footer-column__link-item:hover {
  background: #FFFFFF;
}

.footer-column__link-item_1 {
  width: 18px;
  height: 18px;
  -webkit-mask: url("imageScss/footer-link-1.svg") no-repeat center;
}

.footer-column__link-item_2 {
  -webkit-mask: url("imageScss/footer-link-2.svg") no-repeat center;
  width: 9px;
  height: 18px;
}

.footer-column__link-item_3 {
  -webkit-mask: url("imageScss/footer-link-3.svg") no-repeat center;
  width: 20px;
  height: 11px;
}

.footer-column__link-item_4 {
  -webkit-mask: url("imageScss/footer-link-4.svg") no-repeat center;
  width: 21px;
  height: 15px;
}

.footer-column__link-item_5 {
  -webkit-mask: url("imageScss/footer-link-5.svg") no-repeat center;
  width: 16px;
  height: 18px;
}

.footer-column__link-item_6 {
  -webkit-mask: url("imageScss/footer-link-6.svg") no-repeat center;
  width: 11px;
  height: 18px;
}

.vector__bg {
  position: absolute;
  z-index: 3;
}

.vector__bg_1 {
  width: 416px;
  height: 439px;
  top: 46%;
  left: -5%;
}

.vector__bg_2 {
  width: 526px;
  height: 728px;
  top: 15%;
  right: -150px;
}

.vector__bg_3 {
  width: 592px;
  height: 597px;
  bottom: 0;
  left: 0;
}

.vector__bg_4 {
  width: 526px;
  height: 728px;
  top: -180px;
  right: -170px;
}

.vector__bg_5 {
  width: 390px;
  height: 558px;
  left: -110px;
  bottom: -10%;
}

.vector__bg_bottom {
  width: 592px;
  height: 597px;
  left: -30px;
  bottom: -270px;
}

/*# sourceMappingURL=styles.css.map */
